.wrapper-review {
    .star-rating {
        display: flex;
        flex-direction: row-reverse;
    }

    .star-rating input {
        display: none;
    }

    .star-rating label {
        margin: 0 2px;
        color: #ccc;
        font-size: 42px;
        line-height: 0.7;
        cursor: pointer;
    }

    .star-rating :checked ~ label {
        color: #f90;
    }

    .star-rating label:hover,
    .star-rating label:hover ~ label {
        color: #fc0;
    }
}
